html, body, #gaps { height: 100%; }
* {
	box-sizing: border-box;
}
body {
	font-family: hack;
	background-image: url("../img/bg.png");
	background-size: cover;
	margin: 0;
}
#gaps {
	background-color: rgba(0,0,0,0.8);
}
.grid-container {
	display: grid;
	grid-template-areas:
	'header header header header header'
	'left logo logo logo right'
	'left form form form right'
	'footer footer footer footer footer';
}
.header {
	grid-area: header;
	height: 180px;
}
.left { grid-area: left; }
.logo {
	grid-area: logo;
	justify-self: center;
	height: 220px;
}
img {
	width: 150px;
	height: 150px;
}
.form {
	grid-area: form;
	justify-self: center;
	height: 100px;
}
input[type=search] {
	float: left;
	width: 85%;
	padding-left: 20px;
}
input[type=search], button {
	font-size: 24px;
	margin: 0px;
	height: 50px;
	border: none;
	background-color: #333;
	color: #0ff;
}
input[type=search]:focus, button:focus { border: none;}
button {
	width: 15%;
}
.right { grid-area: right; }
.footer {
	grid-area: footer;
}
